# Baseline Model

Imports

In [29]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import warnings
from nltk.tokenize import WordPunctTokenizer
from bs4 import BeautifulSoup
from sklearn.metrics import accuracy_score, f1_score
from sklearn.cross_validation import train_test_split
from textblob import TextBlob
import operator
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [56]:
my_df = pd.read_csv("./iphone_final.csv",index_col=0)

In [57]:
print(my_df.shape)

(21627, 10)

In [58]:
my_df.head(2)

,date,text_original,permalink,text_preprocessed,polarity,polarity_confidence,subjectivity,subjectivity_confidence,polarityNum,brand
id,,,,,,,,,,
948570515085713408,2018-01-03 16:03,It's 10 AM and my iPhone 7 battery is already ...,https://twitter.com/TheScottBeach/status/94857...,s iphone battery already minute phone call tol...,negative,0.894631,subjective,1.0,-1.0,iphone
945970348436094977,2017-12-27 11:51,Apple launched three phones this year: the bez...,https://twitter.com/Today__Tech/status/9459703...,apple launched three phone year bezelbusting i...,positive,0.492551,subjective,1.0,1.0,iphone

In [59]:
#my_df = my_df[my_df['polarityNum'] != 0 ]

In [60]:
my_df = my_df.drop(['date','text_original','permalink','brand','polarity_confidence','subjectivity','subjectivity_confidence','polarity'],axis=1)

In [61]:
my_df.head()

,text_preprocessed,polarityNum
id,,
948570515085713408,s iphone battery already minute phone call tol...,-1.0
945970348436094977,apple launched three phone year bezelbusting i...,1.0
951907048035270656,cut one phone completely iphone dnd yeah ready...,1.0
972090952251670528,think apple iphone x notch trend flagship phon...,0.0
958395849737990144,fluffy bling iphone case color stock http shop...,1.0

In [62]:
#converting polarity type to integer
my_df['polarityNum'] = my_df['polarityNum'].astype(int)

In [63]:
my_df.dropna(inplace=True)
my_df.reset_index(drop=True,inplace=True)
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21627 entries, 0 to 21626
Data columns (total 2 columns):
text_preprocessed    21627 non-null object
polarityNum          21627 non-null int32
dtypes: int32(1), object(1)
memory usage: 253.5+ KB

In [64]:
x_train = my_df.text_preprocessed
y_train = my_df.polarityNum

In [65]:
#Spliting train, validation and test set in the ration 80%, 10% and 10% respectively
SEED = 200
x_train, x_validation_and_test, y_train, y_validation_and_test = train_test_split(x_train, y_train, test_size=.20, random_state=SEED)
x_validation, x_test, y_validation, y_test = train_test_split(x_validation_and_test, y_validation_and_test, test_size=.5, random_state=SEED)

In [66]:
print(x_train.shape)
print(x_validation.shape)
print(x_test.shape)
print(y_train.shape)
print(y_validation.shape)
print(y_test.shape)

(17301,)
(2163,)
(2163,)
(17301,)
(2163,)
(2163,)

Annotating the test set using TextBlob and calculating F1 on the annotated test data

In [67]:
y_textblob = []
for tweet in x_test:
   testblob =TextBlob(tweet)
   sentiment = testblob.sentiment.polarity
   if(sentiment > 0.0):
       polarity = 1
   elif(sentiment < 0.0):
       polarity = -1
   else:
       polarity = 0
   y_textblob.append(polarity)
f1_textblob = f1_score(y_textblob,y_test, average = 'macro')
print('F1 score for textblob as baseline is :' )
print(f1_textblob)

F1 score for textblob as baseline is :
0.48674043126144256